recursive-include websauna *.yaml *.py *.html *.bash *.css *.png *.js *.txt *.pt *.xml *tmpl *.ini *.mako
recursive-include alembic *.mako *.py *.txt
include *.rst
include *.txt
include LICENSE
exclude docs
